html, body {
    overflow-x: hidden;
}

.title {
    padding-top: 124px;
    font-size: 60px;
    color: #202020;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #fac20a;
    text-underline-position: under;
}

.title:hover {
    color: #fac20a;
    text-decoration: none;
}

.title2 {
    padding-top: 2px;
    font-size: 17px;
    color: #3f3f3f;
    text-align: center;
    font-family: "Fira Sans Condensed";
    font-weight: normal;
}

.button {
    display: inline-block;
    font-size: 17px;
    color: #3f3f3f;
    text-align: center;
    font-family: "Fira Sans Condensed";
    font-weight: normal;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
}

.button:hover {
    border-bottom: 1px solid #fac20a;
}

.buttons {
    padding-top: 64px;
    text-align: center;
}

.subtitle {
    width: 600px;
    font-size: 32px;
    color: #202020;
    text-align: left;
    font-family: "Playfair Display", serif;
    margin: auto;

}

.text {
    width: 600px;
    font-size: 20px;
    text-align: left;
    font-family: "Fira Sans Condensed";
    margin: auto;
    color: #3f3f3f;
    line-height: 140%;
}

.appoint {
    width: 600px;
    margin: auto;
}

.footer {
    padding-top: 32px;
    padding-left: 0px;
    width: 100%;
    margin: none;
    background-color: #707070;
}

.rates {
    text-decoration-color: #fac20a;
    color: #3f3f3f;
}

.rates:hover {
    text-decoration: none;
    color: #fac20a;
}

.blog {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #fac20a;

}

.blog:hover {
    text-decoration: none;
    color: #fac20a;
}

.personal {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 24px;
    color: #202020;
    text-align: left;
    font-family: "Playfair Display", serif;
    float: left;
    padding-top: 48px;
}

.hour {
    font-size: 20px;
    text-align: left;
    font-family: "Fira Sans Condensed";
    color: #3f3f3f;
    line-height: 140%;
}

.hours {
    width: 600px;
    margin: auto;
}

.icon {
    width: 60px;
}

.form {
    width: 658px;
    margin: auto;
}

.schedule {
    text-decoration: underline;
    text-decoration-color: #fac20a;
    color: #3f3f3f;
}

.schedule:hover {
    text-decoration: none;
    color: #fac20a;
}

.face {
    padding-left: 230px;
}

.image {
    width: 350px;
}

.privacy {
    font-size: 12px;
    color: #3f3f3f;
    text-align: center;
    font-family: "Fira Sans Condensed";
    font-weight: normal;
}

@media only screen and (max-device-width: 500px) {
    
    .title {
        padding-top: 48px;
        font-size: 60px;
        color: #202020;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #fac20a;
        text-underline-position: under;
    }

    .hour {
        font-size: 24px;
        text-align: left;
        font-family: "Fira Sans Condensed";
        color: #3f3f3f;
        line-height: 140%;
    }

    .subtitle {
        width: 90%;
        font-size: 42px;
        color: #202020;
        text-align: left;
        font-family: "Playfair Display", serif;
        margin: auto;
    }
    
    .text {
        width: 90%;
        font-size: 24px;
        text-align: left;
        font-family: "Fira Sans Condensed";
        margin: auto;
        color: #3f3f3f;
        line-height: 140%;
    }
    
    .appoint {
        width: 90%;
        margin: auto;
    }
    
    .hours {
        width: 90%;
        margin: auto;
    }
    
    .form {
        width: 100%;
        margin: auto;
    }

    .personal {
        padding-left: 15%;
        font-size: 32px;
        color: #202020;
        text-align: left;
        font-family: "Playfair Display", serif;
        float: left;
        padding-top: 24px;
    }

    .image {
        padding-left: 5%;
        max-width: 90%;
    }

    .subtitleBlog {
        font-size: 26px;
        padding-top: 2px;
    }
}

@media only screen and (max-width: 635px) and (min-device-width: 1000px) {
    .title {
        padding-top: 48px;
        font-size: 60px;
        color: #202020;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #fac20a;
        text-underline-position: under;
    }

    .hour {
        font-size: 20px;
        text-align: left;
        font-family: "Fira Sans Condensed";
        color: #3f3f3f;
        line-height: 140%;
    }

    .subtitle {
        width: 90%;
        font-size: 32px;
        color: #202020;
        text-align: left;
        font-family: "Playfair Display", serif;
        margin: auto;
    }
    
    .text {
        width: 90%;
        font-size: 20px;
        text-align: left;
        font-family: "Fira Sans Condensed";
        margin: auto;
        color: #3f3f3f;
        line-height: 140%;
    }
    
    .appoint {
        width: 90%;
        margin: auto;
    }
    
    .hours {
        width: 90%;
        margin: auto;
    }
    
    .form {
        width: 100%;
        margin: auto;
    }

    .personal {
        padding-left: 25%;
        padding-bottom: 24px;
        width: 100%;
        font-size: 32px;
        color: #202020;
        text-align: left;
        font-family: "Playfair Display", serif;
        padding-top: 48px;
    }

    .image {
        margin: auto;
        padding-left: 10%;
        width: 80%;
    }
}